@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

p {
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-vcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10%;
}

.event-details-card {
  margin: 40px 0 0 50px;
  display: inline;
  position: absolute;
  border-radius: 10%;
  box-shadow: 6px 8px 18px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 550px;
  background-image: linear-gradient(#758EBC,#9CBEC5);
}

.all-details-grp {
  position: relative;
  top: 430px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  
}

.event-img {
  position: relative;
  height: 450px;
  width: 100%;
  border-radius: 10%;
}

.change-photo {
  margin: 0 10px;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #758EBC;
}

.edit-btn {
  width: 19px;
  height: 19px;
}

.detail-grp {

  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.type-detail {
  margin-top: 10px;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color:#00000057;
  word-wrap: break-word;
}

.detail-info {
  margin-top: 10px;
  margin-left: 7px;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color:#0000005c;
  word-wrap: break-word;
}

.location-grp {
  margin-right: 59px;
  box-sizing: border-box;
  height: 100%;
}

.loc-title {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ffffff;
  word-wrap: break-word;
  margin-right: 9px;
}

.loc-info {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #ffffff;
  word-wrap: break-word;
}

.tag {
  display: inline-block;
  padding: 6px 13px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color:#758EBC;
  width: fit-content;
  height: fit-content;
}

.tag-name {
  text-align: center;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.edit-btn {
  width: 15px;
  height: 15px;
}
